html{
    color-scheme: light dark;
}
body{
    padding:0px;
    margin: 0px;
    --mdc-theme-text-primary-on-dark: #dfdfdf;
    --mdc-theme-secondary: #3da3e7;
    --mdc-theme-primary: #3da3e7;
    background-color: var(--mdc-theme-surface);
}

a.mdc-list-item{
    padding: 18px;
}
i.material-icons{
    margin-right:8px;
}
div.mdc-top-app-bar--fixed-adjust{
    margin:0px;
    padding-left:0px;
    padding-right:0px;
    width: 100%;
    height: 100%;
    margin-top:0px;
}
.header{
    justify-content: center;
    width: calc(100% - ( var(--header-padding) * 2 ));
    text-align: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.head{
    font-family: "PoppinsL";
    font-size: 22px;
}

@media (max-width: 750px){
    .content{
        width: 84%;
        padding-left:8%;
        padding-right:8%;
    }
    div.mdc-top-app-bar--fixed-adjust{
        margin:0px;
        padding-left:0px;
        padding-right:0px;
        padding-top: calc(56px + 25px);
        width: 100%;
        height: calc(100% + -40px);
    }
    .header{
        margin-top:-10px;
        --header-padding: 1%;
        padding-left: var(--header-padding);
        padding-right: var(--header-padding);
    }
}
@media (prefers-color-scheme: light){
    body{
        --table-bg: #d4d4d4;
        --table-secondary-bg: #c0c0c0;
        --mdc-theme-text-primary-on-light: #141414;
        --mdc-theme-surface: #ffffff;
        --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-on-secondary: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-on-surface: #ffffff;
        --mdc-theme-text-primary-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-secondary-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-hint-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-disabled-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-icon-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-primary-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-secondary-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-hint-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-disabled-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-icon-on-light: var(--mdc-theme-text-primary-on-dark);
    }
}
@media (prefers-color-scheme: dark){
    body{
        --table-bg: #202020;
        --table-secondary-bg: #333333;
        --mdc-theme-text-primary-on-dark: #dfdfdf;
        --mdc-theme-surface: #2a2a2a;
        --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-on-secondary: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-on-surface: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-primary-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-secondary-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-hint-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-disabled-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-icon-on-background: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-primary-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-secondary-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-hint-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-disabled-on-light: var(--mdc-theme-text-primary-on-dark);
        --mdc-theme-text-icon-on-light: var(--mdc-theme-text-primary-on-dark);
    }
}